*
!.env.development
!.env.production
!.eslintrc.json
!.npmrc
!.prettierrc
!package.json
!public/
!src/
!tsconfig.json
!yarn.lock

!firebase-project/
!excalidraw-app/
!tailwind.config.js
!postcss.config.js
!vite.config.ts
!index.html
